<div class="ui middle aligned center aligned two column grid">
  <div class="column">
    <h2 class="ui green image header">
      <%= image_tag "logo.png", class: "image" %>
      <div class="content">
        Subir Material
        <div class="sub header">
          <%= @workshop.title %>
        </div>
      </div>
    </h2>
    <%= render 'form', material: @material %>
  </div>
</div>
